* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#aniacionColores {
  animation: cabiar 7s infinite alternate;
}

@keyframes cabiar {
  0% {
    color: green;
  }

  20% {
    color: blueviolet;
  }
  30% {
    color: rgb(214, 226, 43);
  }
  40% {
    color: rgb(220, 43, 226);
  }
  50% {
    color: rgb(208, 226, 43);
  }
  60% {
    color: rgb(255, 238, 0);
  }
  70% {
    color: rgb(156, 226, 43);
  }
  100% {
    color: red;
  }
}
#barra-de-navegació {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

#botones {
  margin: auto;
  text-align: center;
  margin-top: 500px;
  display: flex;
  justify-content: center;
}

button {
  margin: 20px;
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  background: rgb(88, 174, 202);
  opacity: 0.3;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  background-color: rgb(0, 122, 163);
  cursor: pointer;
}
/*background*/
.background-all {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  visibility: hidden;
}
.background-all.active {
  visibility: visible;
}

/*ventana emergente*/
#mensaje {
  border: 1px solid black;
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: 200px;
  z-index: 10;
  text-transform: uppercase;
  background: white;
}

#mensaje label {
  color: rgb(0, 0, 0);
  text-shadow: 7px 8px 7px rgb(255, 255, 255);
  font-size: 18px;
}

#mensaje p {
  position: absolute;
  left: 960px;
  top: 180px;
  border-radius: 50px;
  background-color: red;
  color: white;
  font-size: 20px;
  padding: 10px;
  opacity: 0.3;
  cursor: pointer;
}

#mensaje p:hover {
  opacity: 1;
  background-color: red;
  font-size: 30px;
}
#mensaje input {
  border: 1px solid black;
  outline: none;
  margin: 10px;
  padding: 10px;
}

#mensaje button {
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  background: rgb(88, 174, 202);
  opacity: 0.3;
}

#mensaje button:hover {
  opacity: 1;
  background-color: rgb(0, 122, 163);
  cursor: pointer;
}

#tareas {
  width: 80%;

  margin: auto;
  margin-top: 90px;
}

li{
  margin: 10px;
  border: 1px solid rgb(5, 117, 5);
  list-style: none;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


ul{
  /*background-color: green;*/
}


.task{
  
}


.done{
  background-color: green;
  color: aliceblue;
  font-weight: bold;
}

.dones{
  background-color: red;
  color: aliceblue;
  font-weight: bold;
}

#cabiarColor{
  cursor: pointer;
}


.bode{
  background-color: black;
  color:#fff;

}





